/**
 * Structure
 */

/** Variables
 ---------------------------------------------------------*/

:root {
  /* @fonts */

  --font-base: "Exo 2", BlinkMacSystemFont, Helvetica, Arial, sans-serif;

  /* @colors */

  --color-yellow: #FFD62C;
  --color-yellow-2: #FFBA00;
  --color-red: #E25314;
  --color-black: black;
  --color-white: white;

  /* @font-weight */

  --weight-extra-light: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* @animations */

  --transition-default: all 500ms cubic-bezier(0.7,0,0,0.85);

  /* @general */

  --full-stack-dev-width: 140px;
  --header-height: 70px;
}

/** Selection
 ---------------------------------------------------------*/

::selection {
  background: var(--color-red);
  color: var(--color-white);
}

/** Wildcards
 ---------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/** HTML
 ---------------------------------------------------------*/

html {
  background: linear-gradient(
    -30deg,
    var(--color-yellow-2),
    var(--color-yellow)
  );
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--color-black);
}

/** Body
 ---------------------------------------------------------*/

body {
  font-family: var(--font-base);
  font-weight: var(--weight-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

/** Link
 ---------------------------------------------------------*/

a {
  color: var(--color-red);
}

/**
 * Header
 */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  /*mix-blend-mode: difference;*/
}
.main-header::before,
.main-header::after {
  content: "";
  height: 5px;
  background-color: var(--color-red);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main-header::before {
  left: 0;
  right: calc(50% + (var(--full-stack-dev-width) / 2));
}
.main-header::after {
  left: calc(50% + (var(--full-stack-dev-width) / 2));
  right: 0;
}
.main-header__name {
  font-size: 12px;
  font-weight: var(--weight-regular);
  position: relative;
  z-index: 1;
  padding-left: 10px;
  padding-top: 10px;
  max-width: calc(50% - (var(--full-stack-dev-width) / 2));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-header__role {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  font-size: 20px;
}
.main-header__role__full {
  display: block;
  line-height: 1;
  font-weight: var(--weight-black);
}
.main-header__role__dev {
  display: block;
  line-height: 1;
  font-weight: var(--weight-light);
}
.main-header__nav {
  display: none;
}

/**
 * Content
 */

.main-content {
  padding-top: var(--header-height);
}

/**
 * Footer
 */

.main-footer {}

/**
 * Media queries
 */

/** Medium
 ---------------------------------------------------------*/

@media (min-width: 768px) {
  body {
    --full-stack-dev-width: 320px;
    --header-height: 180px;
  }
  .main-header__name {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
  }
  .main-header__role {
    font-size: 54px;
  }
}
