/**
 * Structure
 */

/** Variables
 ---------------------------------------------------------*/

:root {
  /* @fonts */

  --font-base: "Exo 2", BlinkMacSystemFont, Helvetica, Arial, sans-serif;

  /* @colors */

  --color-yellow: #FFD62C;
  --color-yellow-2: #FFBA00;
  --color-red: #E25314;
  --color-black: black;
  --color-white: white;

  /* @font-weight */

  --weight-extra-light: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* @animations */

  --transition-default: all 300ms cubic-bezier(0.7,0,0,0.85);

  /* @general */

  --full-stack-dev-width: 140px;
  --header-height: 70px;
  --max-content-width: 1200px;
}

/** Selection
 ---------------------------------------------------------*/

::selection {
  background: var(--color-red);
  color: var(--color-white);
}

/** Wildcards
 ---------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/** HTML
 ---------------------------------------------------------*/

html {
  background: linear-gradient(
    0deg,
    var(--color-yellow-2),
    var(--color-yellow) 70%
  );
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--color-black);
}

/** Body
 ---------------------------------------------------------*/

body {
  font-family: var(--font-base);
  font-weight: var(--weight-regular);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Link
 ---------------------------------------------------------*/

a {
  color: var(--color-red);
}

/**
 * Header
 */

.main-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  transform: skewY(1deg);
}
.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: var(--color-yellow);
}
.main-header::after {
  content: "";
  height: 5px;
  background-color: var(--color-red);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.main-header__name {
  font-size: 12px;
  font-weight: var(--weight-regular);
  position: relative;
  z-index: 1;
  padding-left: 10px;
  padding-top: 10px;
  max-width: calc(50% - (var(--full-stack-dev-width) / 2));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-header__role {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  font-size: 20px;
  background: var(--color-yellow);
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.main-header__role__full {
  display: block;
  line-height: 1;
  font-weight: var(--weight-black);
}
.main-header__role__dev {
  display: block;
  line-height: 1;
  font-weight: var(--weight-light);
}
.main-header__nav {
  display: none;
}

/**
 * Content
 */

.main-content {
  padding-top: var(--header-height);
  /* animation: initialAnimiation 1000ms cubic-bezier(0.7,0,0,0.85) forwards; */
  /* transform-origin: top center 0; */
  transform: skewY(1deg);
}
.main-content__article {
  padding: 0 40px;
  margin: 0 auto 60px auto;
  max-width: var(--max-content-width);
}
.main-content__article__title {
  position: relative;
  font-weight: var(--weight-light);
  color: var(--color-red);
  margin-bottom: 30px;
}
.main-content__article__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  height: 3px;
  width: 20px;
  background: var(--color-red);
  transform: translateY(-50%);
}
.main-content__article__content__text {
  font-size: 20px;
  max-width: 500px;
}
.main-content__article__content__text p {
  margin: 0 0 20px 0;
}
.main-content__article__content__text p:last-child {
  margin: 0;
}

/** Techs
 ---------------------------------------------------------*/

.techs {
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
}
.techs__svg {
  display: inline-block;
  animation: rotateTechs 60s linear infinite;
  width: 100%;
}
.techs__svg__circle {
  fill: rgba(255, 255, 255, 0.3);
}
.techs__svg__text {
  font-size: 32px;
}

/** Projects
 ---------------------------------------------------------*/

.projects {}
.projects__item {
  margin: 0 -40px;
}
.projects__item__link {
  transition: var(--transition-default);
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  color: var(--color-black);
}
.projects__item__link:hover {
  background: var(--color-black);
  color: white;
}
.projects__item__title {
  font-size: 26px;
  margin: 0 0 10px 0;
}
.projects__item__description {
  font-size: 20px;
}

/**
 * Footer
 */

.main-footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  transform: skewY(1deg);
}
.main-footer__social-networks {}
.main-footer__social-networks__list {}
.main-footer__social-networks__list__item {
  display: flex;
  justify-content: flex-end;
}
.main-footer__social-networks__list__item__link {
  display: flex;
  position: relative;
  padding: 10px 20px;
  justify-content: end;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
}
.main-footer__social-networks__list__item__link:before {
  transition: var(--transition-default);
  content: "";
  background: green;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  pointer-events: none;
  opacity: 0;
  transform: scale(1, 0.7);
}
.main-footer__social-networks__list__item__link--github:before {
  background: black;
}
.main-footer__social-networks__list__item__link--linkedin:before {
  background: #0077B5;
}
.main-footer__social-networks__list__item__link--twitter:before {
  background: #55acee;
}
.main-footer__social-networks__list__item__link:hover .main-footer__social-networks__list__item__link__icon {
  fill: white;
}
.main-footer__social-networks__list__item__link:hover:before {
  transform: scale(1, 1);
  opacity: 1;
}
.main-footer__social-networks__list__item__link:hover .main-footer__social-networks__list__item__link__title {
  opacity: 1;
  transform: translateX(0px);
}
.main-footer__social-networks__list__item__link__title {
  transition: var(--transition-default);
  position: relative;
  z-index: 1;
  margin-right: 10px;
  opacity: 0;
  transform: translateX(10px);
  font-weight: var(--weight-bold);
  pointer-events: none;
}
.main-footer__social-networks__list__item__link__icon {
  transition: var(--transition-default);
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/**
 * Media queries
 */

/** Medium
 ---------------------------------------------------------*/

@media (min-width: 768px) {
  body {
    --full-stack-dev-width: 320px;
    --header-height: 180px;
  }

  /** Grid
   ---------------------------------------------------------*/
  .row {
    display: grid;
    grid-gap: 20px;
  }
  .row--2 { grid-template-columns: repeat(2, 1fr); }
  .row--3 { grid-template-columns: repeat(3, 1fr); }
  .row--4 { grid-template-columns: repeat(4, 1fr); }
  .row--5 { grid-template-columns: repeat(5, 1fr); }

  /** Header
   ---------------------------------------------------------*/

  .main-header::before {
    height: 90px;
  }
  .main-header::after {
    height: 10px;
  }
  .main-header__name {
    font-size: 16px;
    padding-top: 40px;
    padding-left: 40px;
  }
  .main-header__role {
    font-size: 48px;
    border-radius: 0 0 20px 20px;
    padding: 20px 40px;
  }

  /** Content
   ---------------------------------------------------------*/

  .main-content__article__title {
    font-size: 36px;
  }
  .main-content__article__title::before {
    height: 5px;
  }
  .techs {
    margin: 0;
  }
}

/** Large
 ---------------------------------------------------------*/

@media (min-width: 1024px) {
  /** Header
   ---------------------------------------------------------*/

  .main-header__name {
    font-size: 20px;
  }
  .main-header__role {
    font-size: 54px;
  }
  .main-header__nav {
    /*display: block;*/
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 40px;
    padding-right: 40px;
  }
  .main-header__nav__list {
    display: flex;
    margin: 0 -10px;
  }
  .main-header__nav__list__item {
    display: inline-block;
    margin: 0 10px;
  }
  .main-header__nav__list__item__link {
    color: var(--color-black);
    text-decoration: none;
    font-size: 18px;
    font-weight: var(--weight-bold);
  }

  /** Content
   ---------------------------------------------------------*/

  .main-content__article__title {
    font-size: 48px;
  }
  .main-content__article__title::before {
    height: 5px;
  }
  .main-content__article__content__text {
    font-size: 26px;
  }
  .techs {
    margin: 0;
  }
}

/**
 * Keyframes
 */

@keyframes rotateTechs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes initialAnimiation {
  0% {
    transform: scale(1, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
