@keyframes onEnterCommonSection {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(.9, 1)
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
