// Body
body {
  padding-top: 115px;
  color: black;
  @media #{$large-up} {
    padding-top: 40px;
  }
}

// H`s
@for $i from 1 through 6 {
  h#{$i} {
    font-family: $font-family-serif;
    font-style: italic;
  }
}

// Svg
svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: currentColor;
}

// Links
a {
  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: inherit;
    background: inherit;
    text-decoration: none;
  }
}

// .page-app
.page-app {
  @media #{$large-up} {
    margin: 0 240px 0 20px;
  }
  @media #{$xlarge-up} {
    margin: 0 auto;
    max-width: 720px;
    position: relative;
  }
  @media #{$xxlarge-up} {
    max-width: 920px;
  }
}
