// Colors
$dark-blue: #2d3c43;
$blue: #37474F;
$light-blue: #1976d2;
$yellow: #eddb41;
$green: #7cb342;
$light-gray: #eaeaea;

// Elements
$header-bg-color: $dark-blue;
$link-color: $green;
$active-link-color: $yellow;
$body-bg: $light-gray;
$main-nav-bg-color: #37474f;

// Bootstrap custom
$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;
$font-family-sans-serif: "Titillium Web", Helvetica, Arial, sans-serif;
$font-family-serif: "Lora", Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$brand-primary: $blue;
$brand-info: $light-blue;
