.main-footer {
  background: $header-bg-color;
  color: white;
  padding: 10px;
  border-radius: 2px;
  margin: 10px;
  @media #{$large-up} {
    margin-bottom: 40px;
  }
  p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    font-style: italic;
    font-family: $font-family-serif;
    &.small-text {
      font-size: 12px;
    }
    a {
      &:hover,
      &:focus,
      &:active {
        color: $green;
        text-decoration: underline;
      }
    }
  }
}
