.projects-box {

}

.project-item {
  .panel-heading {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 1.4;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    @media #{$medium-up} {
      font-size: 24px;
    }
  }
  .panel-body {
    p {
      font-size: 16px;
      margin: 0 0 20px 0;
    }
    &.panel-body-large {
      @media #{$large-up} {
        padding: 30px;
      }
    }
  }
  p {
    margin: 0 0 30px 0;
  }
}
